html {
    height: 100%;
}
body {
    background: #f5f5f5;
    display: flex;
    flex-direction: column;

    height: 100%;
    margin: 0;

    font-family: Arial, sansSerif;
    color: #000000;
    font-size: 16px;
    line-height: 1.5;
}
.header {
    background-color: white;
    display: flex;
    padding: 20px;
    margin: 10px 20px;
    justify-content: space-between;
    align-items: center;

    flex: 0 0 auto;
    border-radius: 5px;
    box-shadow: silver;
}
.header__logo {
    font-size: 40px;
    font-weight: 800;
    padding-left: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
 }
.header__logo:hover {
    color: #bc1423;
}
.header__logo-title {
    display: none;
    position: absolute;
    top: 90px;
    left: 65px;
    z-index: 1;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.header__logo:hover+div {
    display: block;
}
.main {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;

    margin: 10px 20px;
}
.content {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 60%;
    /*padding: 0 40px;*/

    box-shadow: 0 0 25px rgba(0, 0, 0, .05);
    background-color: white;
}
.content-item {
    display: inline-flex;
    justify-content: center;
    margin-top: 20px;
}
.content-arrow {
    padding-top: 200px;
    margin-top: 0;
    flex-grow: 1;
}
.content-arrow:hover,
.content-arrow:focus {
    background-color: #C0C6CD;
    opacity: 0.7;
}
.content-arrow:active {
    background-color: #C0C6CD;
    opacity: 1;
}
.aside {
    width: 40%;
    display: flex;
    flex-flow: column wrap;
    padding: 10px;
    margin-right: 20px;

    box-shadow: 0 0 25px rgba(0, 0, 0, .05);
    background-color: white;
}

.aside-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.aside-list {
    display: flex;
    flex-flow: row wrap;
}
.aside-btn {
    align-items: center;
    justify-content: center;
    margin: 5px 10px 5px 10px;

    text-align: center;
    text-decoration: none;
    border: solid 1px #C0C6CD;
    border-radius: 4px;
    padding: 5px 15px;
    color: black;
    background-color: white;
    /*border-color: currentColor;*/

    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;

    cursor: pointer;
    outline: none;

    transition: background .1s linear, color .1s linear;
}
/*.aside-btn:nth-child(odd) {
    border-top: solid 1px #C0C6CD;
}
.aside-btn:nth-child(even) {
    border: solid 1px #C0C6CD;
    border-bottom: none;
}
.aside-btn:nth-child(4n) {
    border-right: none
}
.aside-btn:nth-last-child(-n+4) {
    border-bottom: solid 1px #C0C6CD;
}*/
.aside-btn:active {
    transform: translateY(1px);
    filter: saturate(150%);
}
.aside-btn:hover,
.aside-btn:focus {
    color: white;
    border-color: currentColor;
    background-color: #bc1423;
}
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    margin-left: 10px;

    background: #bc1423;
    border: 0;
    border-radius: 5px;

    font-family: inherit;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 400;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;

    transition: background .1s linear, color .1s linear;

    outline: none;
}
.btn:hover {
     color: white;
     background-color: #ff2513;
 }
.icon {
    width: 40px;
    height: 40px;
    stroke-width: 0;
    stroke: currentColor;
    fill: #C0C6CD;
}
.content-arrow:hover .icon {
    stroke: white;
    fill: white;
}

.footer {
    flex: 0 0 auto;
    margin: 5px 20px;
}
.err-filenames {
    font-size: 18px;
    margin: 10px;
}
